[Desktop Entry]
Type=Application
Name=LitMan
Name[zh_CN]=LitMan 文献管理
Comment=Local-first literature manager
Comment[zh_CN]=本地优先的文献管理工具
Exec=litman-gui
Icon=litman
Terminal=false
Categories=Office;Education;Science;
Keywords=PDF;Paper;Literature;
Keywords[zh_CN]=PDF;论文;文献;
